{% extends 'base.html' %}
{% block content %}
    <button type="submit"
            onclick="location.href='{% url 'add-member' %}'" class="btn btn-outline-primary"
            style="top: 0; right: 0; position: absolute; margin-top: 5px"> +
    </button>
    <h2><b>Team Members</b></h2>
    <h4>You have {{ object_list|length }} team members.</h4>

    <ul>
        <hr/>
        {% for object in object_list %}
            <button class="btn btn-outline-dark" style="width: 100%"
                    onclick="location.href='{% url 'edit-member' pk=object.id %}'">{{ object.list_view_data }}</button>
            <hr/>

        {% endfor %}
    </ul>

{% endblock %}